$color-red : #ec201b;
body {background-color: #ddd;}
.container {background-color : $color-red;}
.header {
	color:#f0f0f0;
	display: flex;
	justify-content: center;
	width: 500px;
	border-radius: 10px;
	margin: 0px auto;
}
.header h1:hover { font-size: 60px;}